
@font-face {
  font-family: 'Minion Pro Semibold';
  src: url('MinionPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('MinionPro-Semibold.otf')  format('opentype'),
	     url('MinionPro-Semibold.woff') format('woff'), url('MinionPro-Semibold.ttf')  format('truetype'), url('MinionPro-Semibold.svg#MinionPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
