
@font-face {
  font-family: 'MinionPro-Medium';
  src: url('MinionPro-Medium.eot?#iefix') format('embedded-opentype'),  url('MinionPro-Medium.otf')  format('opentype'),
	     url('MinionPro-Medium.woff') format('woff'), url('MinionPro-Medium.ttf')  format('truetype'), url('MinionPro-Medium.svg#MinionPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
